@import "tailwindcss";

:root {
  /* Brand Colors */
  --primary: #2563eb;
  --secondary: #f59e0b;
  --success: #10b981;
  --error: #ef4444;

  /* Base Colors */
  --background: #f8fafc;
  --foreground: #1e293b;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-error: var(--error);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
